extends layout

block content
    h1 Create a new User!
    form(method="POST" action="/user")
        div
            label(for="username") Username 
            input(type="text" name="username" id="username")
        div
            label(for="password") Password 
            input(type="password" name="password" id="password")
        button(type="submit") Create User